<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="4.0" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
	<!-- 配置和映射servlet-->
	<servlet>
		<servlet-name>getOpenId</servlet-name>
		<servlet-class>com.cyc.user.getOpenId</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>getOpenId</servlet-name>
	<url-pattern>/getOpenId</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.cyc.user.register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getUserDetails</servlet-name>
		<servlet-class>com.cyc.user.getUserDetails</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>getUserDetails</servlet-name>
		<url-pattern>/getUserDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>publishgoods</servlet-name>
		<servlet-class>com.cyc.publish.publishGoods</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>publishgoods</servlet-name>
		<url-pattern>/publish/publishgoods</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getpublishdetails</servlet-name>
		<servlet-class>com.cyc.publish.GetPublishDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getpublishdetails</servlet-name>
		<url-pattern>/publish/getpublishdetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>downloadimg</servlet-name>
		<servlet-class>com.cyc.publishimg.DownloadImage</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>downloadimg</servlet-name>
		<url-pattern>/publish/downloadimage</url-pattern>
</servlet-mapping>
	<servlet>
		<servlet-name>getimgurls</servlet-name>
		<servlet-class>com.cyc.publishimg.GetGoodsImgsUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getimgurls</servlet-name>
		<url-pattern>/goods/getimgurls</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>edituserInfo</servlet-name>
		<servlet-class>com.cyc.user.EditUserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>edituserInfo</servlet-name>
		<url-pattern>/user/edituserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>collect</servlet-name>
		<servlet-class>com.cyc.collect.Collect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>collect</servlet-name>
		<url-pattern>/collect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deletepublish</servlet-name>
		<servlet-class>com.cyc.publish.DeletePublish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletepublish</servlet-name>
		<url-pattern>/publish/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getComments</servlet-name>
		<servlet-class>com.cyc.comments.Get</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getComments</servlet-name>
		<url-pattern>/comments/get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createcomments</servlet-name>
		<servlet-class>com.cyc.comments.Create</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createcomments</servlet-name>
		<url-pattern>/comments/create</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteComments</servlet-name>
		<servlet-class>com.cyc.comments.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteComments</servlet-name>
		<url-pattern>/comments/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchPublish</servlet-name>
		<servlet-class>com.cyc.publish.searchPublish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchPublish</servlet-name>
		<url-pattern>/publish/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditPublish</servlet-name>
		<servlet-class>com.cyc.publish.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPublish</servlet-name>
		<url-pattern>/publish/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getsellinfo</servlet-name>
		<servlet-class>com.cyc.trading.get</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getsellinfo</servlet-name>
		<url-pattern>/trade/get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sellgoods</servlet-name>
		<servlet-class>com.cyc.trading.SellGoods</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sellgoods</servlet-name>
		<url-pattern>/trade/sell</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>managelogin</servlet-name>
		<servlet-class>com.cyc.manage.login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>managelogin</servlet-name>
		<url-pattern>/manage/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mangedelete</servlet-name>
		<servlet-class>com.cyc.manage.deletepublish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mangedelete</servlet-name>
		<url-pattern>/manage/deletepublish</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMessageList</servlet-name>
		<servlet-class>com.cyc.message.GetMessageList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMessageList</servlet-name>
		<url-pattern>/message/getlist</url-pattern>
	</servlet-mapping>

</web-app>